.block-info {
  height: 78vh;
  background-color: #6da8e4;
  border: 2px solid #fff;
  box-shadow: 0 0 20px 5px #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
}
.block-details-img {
  margin-right: 50px;
}

.detailInfo {
  font-size: 18px;
  font-weight: bold;
  color:whitesmoke;
}

p {
  font-size: 24px;
}

img {
  height: 400px;
}
