<h1 class="center">Information about proekt!</h1>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga consequuntur
  commodi sunt saepe ipsum molestias exercitationem sit amet, obcaecati
  accusamus enim nesciunt eos distinctio atque? Tempora minus officiis
  voluptate! Reiciendis? Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Laboriosam, vitae repudiandae culpa amet natus, similique itaque, nulla
  tempore voluptas quis repellat modi. Accusamus, cumque illo praesentium,
  debitis culpa suscipit perferendis blanditiis a error libero facere dolorum,
  pariatur labore quibusdam deserunt.  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga consequuntur
  commodi sunt saepe ipsum molestias exercitationem sit amet, obcaecati
  accusamus enim nesciunt eos distinctio atque? Tempora minus officiis
  voluptate! Reiciendis? Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Laboriosam, vitae repudiandae culpa amet natus, similique itaque, nulla
  tempore voluptas quis repellat modi. Accusamus, cumque illo praesentium,
  debitis culpa suscipit perferendis blanditiis a error libero facere dolorum,
  pariatur labore quibusdam deserunt.  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga consequuntur
  commodi sunt saepe ipsum molestias exercitationem sit amet, obcaecati
  accusamus enim nesciunt eos distinctio atque? Tempora minus officiis
  voluptate! Reiciendis? Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Laboriosam, vitae repudiandae culpa amet natus, similique itaque, nulla
  tempore voluptas quis repellat modi. Accusamus, cumque illo praesentium,
  debitis culpa suscipit perferendis blanditiis a error libero facere dolorum,
  pariatur labore quibusdam deserunt.
</p>
